:root{
    --fond-menu : #4b4a4a;
    --couleur-menu : aliceblue;
    --fond-menu-inverse: salmon;
    --couleur-menu-inverse: #223;
    --fond-menu-choisi: #123456;
}

body {
    background-color: #26272b ;
}

.custom-footer
{
    border: 2px solid black;
    clear: both;
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}

.custom-footer h6
{
    color: #cc0f0f;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px;
    text-align: end;
}
.custom-footer h5
{
    color: #0083ff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px;
    text-align: start;
}

.custom-footer h2
{
    color: #ffffff;
    font-size:32px;
    text-transform:uppercase;
    margin-top:20px;
    letter-spacing:4px;
    text-align: center;
}
.footer-links
{
    padding-left:0;
    list-style:none;
    text-align: start;
}
.footer-links a
{
    color: #9d9c9c
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
    color:#3366cc;
    text-decoration:none;
}

.footer-info
{
    padding-left:0;
    list-style:none;
    text-align: end;
}
.footer-info li
{
    color: #9d9c9c;
}

nav{
    text-align: center;
}

#menu-principal {
    background-color: var(--fond-menu, #000);
    padding-top: 4px;
    width: 700px;
    margin: auto;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
    align-content: space-between;
}

.titre-logo a
{
    color: #e31818;
    text-decoration:none;
    margin-left: 50px;
    margin-top: 100px;
    font-size: 64px;
    font-family: "Impact";
    letter-spacing: 2px;
}
.titre-logo a:active,.titre-logo a:focus,.titre-logo a:hover
{
    color: #e31818;
    text-decoration:none;
}

.barre-recherche
{
    background: #d9d9d9;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    margin-top: 50px;
    position: absolute;
    right: 150px;
}
.barre-recherche input {
    all: unset;
    font: 16px system-ui;
    color: #101010;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}
.barre-recherche button
{
    border: 0;
    border-radius: 50%;
    width: 32px;
    height: 30px;
    cursor: pointer;
    background: #26272b;
}
.barre-recherche button img
{
    width: 20px;
}

.btn-panier
{
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: #9d9c9c;
    position: absolute;
    right: 100px;
    margin-top: 50px;
}

.btn-panier img
{
    position: absolute;
    left: 6px;
    top: 6px;
    width: 30px;
}

.profile .btn-profile img
{
    position: absolute;
    left: 6px;
    top: 6px;
    width: 30px;
}
.profile {
    float: left;
    overflow: hidden;
}

.profile .btn-profile {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: #9d9c9c;
    position: absolute;
    right: 50px;
    margin-top: 50px;
}

.profile:hover .btn-profile {
    background-color: var(--fond-menu-inverse);
    color: var(--couleur-menu-inverse);
}

.sous-menu2 {
    display: none;
    position: absolute;
    right: 50px;
    margin-top: 90px;
    background-color: var(--fond-menu);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
}

.sous-menu2 a {
    float: none;
    color: var(--couleur-menu);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: color 0.5s, background-color 0.5s;
}

.sous-menu2 a:hover {
    background-color: var(--fond-menu-inverse);
    color: var(--couleur-menu-inverse);
}

.profile:hover .sous-menu2 {
    display: block;
}

.barre-menu {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.barre-menu a {
    float: left;
    font-size: 16px;
    color: var(--couleur-menu);
    padding: 14px 14px;
    text-decoration: none;
    transition: color 0.5s, background-color 0.5s;
    border-radius: 15px;
    margin-bottom: 5px;
}

.deroulant {
    float: left;
    overflow: hidden;
}

.deroulant .btn-deroulant {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--couleur-menu);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: color 0.5s, background-color 0.5s;
    border-radius: 15px;
}

.barre-menu a:hover, .deroulant:hover .btn-deroulant {
    background-color: var(--fond-menu-inverse);
    color: var(--couleur-menu-inverse);
}

.sous-menu {
    display: none;
    position: absolute;
    background-color: var(--fond-menu);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
}

.sous-menu a {
    float: none;
    color: var(--couleur-menu);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: color 0.5s, background-color 0.5s;
}

.sous-menu a:hover {
    background-color: var(--fond-menu-inverse);
    color: var(--couleur-menu-inverse);
}

.deroulant:hover .sous-menu {
    display: block;
}

#texte-acceuil img{
    float: right;
    height: 150px;
}

#texte-acceuil, #section-inscription, #section-pdv{
    width: 80%;
    margin-left: 34%;
    color: white;
}

#section-inscription{
    width: 100%;
    margin-left: 27%;
    color: white;
}

#menu-gauche{
    position: absolute;
    width:30%;
    text-align: center;
    font-size: x-large;
}

#menu-gauche a{
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 1.5%;
    background-color: var(--fond-menu);
    color: var(--couleur-menu);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
}

#menu-gauche a:hover, #menu-gauche a.choisi:hover{
    background-color: var(--fond-menu-inverse);
    color: var(--couleur-menu-inverse);
}

#menu-gauche a.choisi{
    background-color: var(--fond-menu-choisi);
}


.form-control{
    width: 300px;
}

.submit-group input[type=submit]{
    width: 150px
}
.submit-group {
    max-width: 500px;
    text-align: right;
    padding: 14px 0px 14px 28px;
}


#pdv-grille {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    grid-row-gap: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.pdv-item {
    border: 1px solid rgba(0,0,0,0.8);
    padding: 15px;
    text-align: center;
}

.pdv-item h1{
    font-size: x-large;
    margin: 0 0 15px;
}

.pdv-item h2{
    font-size: medium;
    text-align: left;
}
.pdv-item ul{
    padding-left: 20px;
}

#pdv-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#pdv-flex .pdv-item{
    margin: 0 25px 25px 0;
}

#corps-principal{
    margin-bottom: 25px;
}

@media screen and (max-width: 900px) {
    #pdv-grille {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 600px) {
    #pdv-grille {
        grid-template-columns: auto;
    }
}

.centrer {
    text-align: center;
    color: white;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }

/* The alert message box */
.alert {
    width: 500px;
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}